@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@500&family=Rubik:wght@900&display=swap');

.top-header {
  font-family: 'Roboto';
}
.left-header {
}

.assessment {
  width: 9.5rem;
}
.assessment-menu {
  font-family: 'Roboto';
}
.assessment-text {
  font-family: 'Rubik';
  font-weight: 900;
  color: rgba(8, 8, 8, 1);
}
.contact {
  width: 6.5rem;
}

.right-header {
}
.avatar {
  height: 3.5rem;
}
.avatar-name {
  font-family: 'Roboto';
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}

.notification-icon {
}
hr {
  color: white;
}

.searcher {
  width: 80%;
  padding: 0.35rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.searcher:focus {
  width: 90%;
}
.search-icon {
  position: relative;
  margin-left: -1.75rem;
}

/* Top-categories component  */
.tag-icon {
  /* border: ; */
  /* background-color: rgba(0, 158, 104, 1); */
}
.after-effect {
  width: 7.1rem;
}
/* Top-panel component */
.left-top-panel {
  font-family: 'Roboto';
  font-size: 1.75rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 1);
}
.sub--text {
  color: rgba(177, 118, 242, 1);
}
.arrow-icon {
  position: absolute;
  left: 15%;
  height: 5.5rem;
  /* transform: translateX(-100%); */
}
.model {
  background-image: url(./Images/circle.jpg);
}
